.jumbotron {
  background: #C9257C;
  text-align: center;
  color: #ffffff;
  box-shadow: 8px 8px 30px 8px rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 150px;
  padding-top: 10px;
}
h5 {
  background-color: #5060AD;
  padding: 10px;
}
.images {
  align-content: center;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 130px;
  height: 130px;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 5px;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

